<div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00f3ff69;">
        <a class="navbar-brand" href="#/main">To-Do Listing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#/main">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/resetPassword">Change Password <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <span class="navbar-text">
                <button type="button" class="btn btn-primary" ng-click="signOut()">Sign Out</button>
            </span>
          </div>
    </nav>
    <div>
        <table class="table table-condensed">
            <thead>
                <th>S No.</th>
                <th>To-Do</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="task in tasks" style="background-color:{{task.status ? 'rgba(48, 243, 30, 0.575)' : 'rgba(221, 20, 20, 0.658)'}};">
                    <td>{{$index + 1}}</td>
                    <td>{{task.description}}</td>
                    <td ng-click='taskStatusChange(task.pk, task.status)'><input type="checkbox" ng-model="task.status"/></td>
                    <td ng-click='removeTask(task.pk)'><i class="fas fa-trash-alt"></i></td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary ml-3" data-toggle="modal" data-target="#addTask">
            Add Task
        </button>
        <button type="button" class="btn btn-warning ml-3" data-toggle="modal" data-target="#shareGroup">
            Share Group
        </button>
        <button type="button" class="btn btn-danger ml-3" data-toggle="modal" data-target="#deleteGroup">
            Delete Group
        </button>
    </div>

    <!-- Modal for adding Task to Group -->
    <div class="modal" id="addTask">
        <div class="modal-dialog">
            <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Task</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                    <input type="text" class="form-control input-lg mb-2" ng-model="addItemDesc" placeholder="Item Description">
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="addTask(addItemDesc)">Add Task</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Group Deletion -->
    <div class="modal" id="deleteGroup">
        <div class="modal-dialog">
            <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Are you sure?</h4>	
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
          
                <!-- Modal body -->
                
                <div class="modal-body">
                    <p>Do you really want to delete this group? This process cannot be undone.</p>
                    <p>All the data regarding this Task List would be removed.</p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" ng-click="deleteGroup()">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Group Sharing -->
    <div class="modal" id="shareGroup">
        <div class="modal-dialog">
            <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Want to share your Task List?</h4>	
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="text-center">
                        Access to : &nbsp;
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary" ng-click="shareForAllView()">All</button>
                            <button type="button" class="btn btn-secondary" ng-click="shareForSpecificView()">Specific Users</button>
                        </div>

                        <div ng-if="shareAllView">
                            <button type="button" class="btn btn-info mt-3" ng-click="enableShareForAll()">Share to All</button>
                        </div>
                        <div ng-if="!shareAllView">
                            <table class="table table-striped">
                                <tbody>
                                    <tr ng-repeat="user in listOfUsers" class="table-row">
                                        <td>{{user.user_id}}</td>
                                        <td><input type="checkbox" value="{{user.user_id}}" name="sharedWithSpecificUsers"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="button" class="btn btn-info mt-3" ng-click="enableShareForSome()">Share to Selected</button>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>