<div>
    <div ng-if="defaultV">
        <table class="table table-condensed">
            <thead>
                <th>S No.</th>
                <th>To-Do</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td>{{$index + 1}}</td>
                    <td>{{item.task}}</td>
                    <td><input type="checkbox" /></td>
                    <td ng-click='removeTask(item.id)'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <button type="button" class="btn-default" ng-click="addItemView()">Add Item to List</button>
    </div>
    <div ng-if="addItemV">
        <h3>Add Item to your list</h3>
        <input type="text" class="form-control input-lg" ng-model="addItemId" placeholder="Item ID">
        <input type="text" class="form-control input-lg" ng-model="addItemDesc" placeholder="Item Description">
        <input type="text" class="form-control input-lg" ng-model="addItemGroupId" placeholder="Group ID">
        <input type="checkbox" class="form-control input-lg" ng-model="addItemTaskStatus">
        <button type="button" class="btn-success" ng-click="addTask(addItemId,addItemDesc,addItemGroupId,addItemTaskStatus)">Add Task</button>
    </div>
</div>